$primary: white;
$secondary: teal;
$danger: #800020;

$text-primary: blue;

// .text-secondary

// .text-success

// .text-danger

// .text-warning

// .text-info

@import "~bootstrap/scss/bootstrap";

Button {
    background-color: tomato;
}

.btn-primary {
    background-color: teal;
    color: whitesmoke;
}
.btn-primary :hover {
    background-color: red !important;
    color: whitesmoke;
    border-width: 3px;
}

.nav-link a:hover {
    color: orange !important;
}

.photo {
    background-color: whitesmoke;
}

.rowC {
    display: flex;
    flex-direction: row;
}

.navbar-toggler {
    background-color: teal;
    color: white;
}
